
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit augue ac faucibus maximus. Nulla vel commodo nulla. Duis ullamcorper rutrum est, sed tristique justo gravida ut. Phasellus commodo sapien rutrum, egestas odio et, rutrum tellus. Morbi varius neque nec tellus pharetra, non convallis felis ultricies. Vivamus mauris mauris, ornare in sapien in, hendrerit convallis velit. Integer at massa ut augue elementum vestibulum. Proin placerat ut libero ac vehicula. Suspendisse non tincidunt tortor. Quisque posuere mattis eleifend. Donec porttitor ultrices arcu, sed ornare nunc aliquet non. Vivamus pretium hendrerit felis, vitae rhoncus elit lobortis id.</p>
    <p>Nunc fringilla hendrerit felis at luctus. Mauris in iaculis quam. Phasellus eget erat enim. Curabitur suscipit accumsan risus at dictum. Sed pulvinar, tortor vel lobortis faucibus, dui risus viverra erat, et sagittis augue ligula ac tellus. Suspendisse cursus nulla in lorem dapibus, ut dictum tellus consectetur. Suspendisse potenti. Nunc quis nunc felis. Fusce nibh neque, malesuada et mollis sit amet, placerat finibus purus. Pellentesque vitae sodales justo, nec efficitur ligula. Nam eget tellus pretium, tristique arcu sodales, suscipit lacus.</p>
    <p>Curabitur id risus tortor. Quisque euismod, erat vitae finibus lacinia, velit dui egestas leo, ac vestibulum augue metus et ipsum. Maecenas nec magna enim. Integer a gravida felis. Curabitur non semper turpis. Integer rutrum quam porttitor neque tincidunt sodales. Donec imperdiet condimentum erat, non sodales lectus dapibus vel. Mauris vel ante luctus leo ullamcorper luctus quis a nulla. Sed hendrerit vitae eros non pellentesque. Sed quis condimentum est, sit amet placerat augue. </p>

